# Ignore all .DS_Store files
.DS_Store

# Ignore node_modules directory
node_modules/

# Dependencies
**/.pnp
**/.pnp.js

# testing
**/coverage

# production
/src/popup
/src/content_scripts

# VSCode project files
**/.vscode
*.code-workspace

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# Ignore .env files as they usually contain sensitive information
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/*.mkf