.App {
  text-align: center;
}

h1 {
  color: blue;
  font-size: 16px;
}

dl {
  margin-left: 20px;
  display: grid;
  grid-template-columns: max-content auto;
}

body {
  font-size: 14px;
  width: 250px;
}

dt {
  font-weight: bold;
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.center-text {
  text-align: center;
}

.margin-around-medium {
  margin-left: 8px;
  margin-right: 8px;
}

@keyframes animated-gradient {
  to {
    background-position: 200%;
  }
}

.colorful {
  background-image: linear-gradient(to right, #ff2a00, #449a3c);

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 200%;
  background-position: -200%;
  animation: animated-gradient 6s infinite alternate-reverse;
}
.colorful a {
  font-weight: bold;
  color: inherit;
  text-decoration: underline;
}

.error {
  background-color: #ff2a00;
  color: white;
}

.success {
  background-color: #449a3c;
  color: white;
}

.error-text {
  color: #ff2a00;
}

table.popup {
  margin-bottom: 1em;
  margin-top: 0.5em;
  border-collapse: collapse;
}

.popup tr:nth-child(odd) {
  background-color: rgb(238, 254, 255);
}

.popup tr:nth-child(even) {
  background-color: rgb(212, 247, 255);
}

.popup tr {
  height: 2.5em;
}

.popup tr:hover {
  background-color: blue;
  color: white;
}

.popup td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.app-header {
  text-align: center;
  font-size: 1.5em;
  font-weight: 1000;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 2px;
  /* margin-right: -0.5em;
  margin-left: -0.5em; */
  width: 7em;
  color: #1976d2;
  display: inline;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}